.membership_subscription_plans_payment_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
  gap: 20px;
  flex-direction: column;
}

.membership_subscription_plans_payment_div_cont1 {
  width: 100%;
  padding: 0em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #dfdfdf;
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  /* text-align: center; */
  grid-gap: 0px;
  gap: 0px;
  max-width: 1124px;
  margin: auto;
}
.membership_subscription_plans_payment_div_cont1_title {
  font-size: 35px;
  font-weight: 700;
}
.membership_subscription_plans_payment_div_cont1_paragraph {
  font-size: 14px;
  color: #797979;
}
.membership_subscription_plans_payment_div_cont1_div1b {
  padding: 4em;
  background: #ebfcf1;
  border: solid #ebfcf1;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.membership_subscription_plans_payment_div_cont1_div1 {
  padding: 4em;
  border: solid #ebfcf1;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 25px;
  width: 100%;
}
.payment_plans_heading_area {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 27px;
}

.payment_plans_header_txt {
  margin: 0;
  font-weight: 700;
  width: 100%;
  font-size: 32px;
}

.payment_plans_paragraph_area {
  margin: 0;
  font-size: 18px;
  color: #6c6c6c;
}
.payment_plans_paragraph_txt {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #64786b;
}
.payment_plans_paragraph_txt_price {
  margin: 0;
  font-size: 43px;
  font-weight: 800;
}
.only {
  font-size: 24px;
  font-weight: 500;
  color: #577561;
}
.membership_btn {
  width: 100%;
  font-weight: 600;
  padding: 1em 0em;
  border-radius: 8px;
  border: none;
  background: #41ba71;
  color: #fff;
}
.note_heading {
  font-weight: 800;
}
.membership_payment_modal_div {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
  background: #00000085;
  z-index: 10000000;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 3em 0.5em;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  flex-direction: column;
  gap: 10%;
  overflow: scroll;
}
.membership_payment_modal_div_cont_area {
  width: 100%;
  max-width: 450px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0px 0px 15px #000;
  /* justify-content: center; */
  animation: bounceDown 0.5s ease-in-out;
}
@keyframes bounceDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.membership_payment_modal_div_heading {
  font-size: 28px;
  font-weight: 700;
}
.membership_payment_modal_div_heading_para {
  font-size: 14px;
  color: #656565;
  font-weight: 300;
}
.membership_payment_modal_div_body_cont1 {
  border: solid 1px grey;
  padding: 1em;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
}

.membership_payment_modal_div_body_cont1_para {
  font-size: 12px;
  color: #7a7a7a;
  font-weight: 300;
}
.membership_payment_modal_div_body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.membership_payment_modal_div_body_cont1 {
  border: solid 1px #e5e5e5;
  padding: 1em;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.input_radio_sub_pay {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}
.subsribe_button_btn {
  width: 100%;
  background-color: #41ba71;
  border: none;
  padding: 1em;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
}
.payment_price_cont {
  padding: 0.5em;
  background: #f2fff7;
  border: solid 1px #b1e3c5;
  font-size: 16px;
  border-radius: 5px;
}
.total_amnt {
  font-weight: 400;
  color: black;
}
.member_pay_total_amnt {
  font-weight: 700;
}
.close-button_for_member_pay_div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* justify-content: center; */
  align-items: center;
  color: #fff;
}
.member_pay_div_btn {
  border: 1px solid #fff;
  border-radius: 50%;
  background: #ffffff38 !important;
  padding: 3px !important;
  font-size: 32px !important;
  cursor: pointer;
}
.wallet_bal_pay_member {
  font-size: 14px;
  background: #ececec;
  padding: 0.5em;
  margin-top: -10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
