.product_categories_div {
  background: #2e935696;
  backdrop-filter: blur(7px);
  color: #ffffff;
  position: fixed;
  z-index: 100000;
  font-weight: 700;
  width: 17%;
  font-size: 14px;
  top: 12%;
  padding: 2em 1em;
  left: 14%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
  box-shadow: 0px 4px 10px #82978a;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding-right: 2em;
}
.market_carous {
  padding: 0.5em 0em !important;
}
.market_carous .react-multi-carousel-track {
  gap: 0px;
}
.market_carous .react-multiple-carousel__arrow--left {
  left: calc(4% + -24px) !important;
}
.cat_div {
  background: #55a675;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(12px);
  color: #ffffff;
  position: fixed;
  z-index: 100000;
  font-weight: 700;
  width: 86%;
  font-size: 14px;
  top: 90px;
  left: 14%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  grid-gap: 20px;
  grid-gap: 20px;
  grid-gap: 20px;
  grid-gap: 20px;
  gap: 20px;
  border-bottom: solid 2px #78b79182;
}

.cat_body_toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.products_display_body_conts_pad {
}
.cat_body_toggle a {
  color: #fff;
}

.cat_body_toggle1 {
  font-size: 13px;
  padding: 0.9em 2em;
  cursor: pointer;
  transition: 0.1s linear;
}
.show_prods_on_mobile {
  display: none;
  padding: 0.5em;
}
.cat_body_toggle1:hover {
  background: #318954a1;
  transition: 0.1s linear;

  border-bottom: solid 2px;
}
.all_cat_link {
  display: flex;
  width: 10%;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  gap: 5px;
  justify-content: flex-end;
  /* background: grey; */
  /* height: 100%; */
}

.cat_icon {
  font-size: 24px !important;
  /* background: #f2fff7; */
  padding: 1px;
  color: #ffffff;
  border-radius: 4px;
  margin-left: 0px;
}

.products_hero_area {
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.products_hero_img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #bfdccb;
}
.products_area1 {
  width: 70%;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #bfdccb;
}
.products_area2 {
  width: 40%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}
.products_area1 .slick-dots {
  bottom: 0px !important;
}
.products_area1 .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #000000;
}
.products_area1 .slick-dots li button:before {
  font-size: 10px;
  opacity: 1;
  color: #fff;
}

.brands_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
  gap: 10px;
}
.brand_cont1 {
  width: 20%;
  /* height: 29px; */
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 10px #d3e7db;
  padding: 1em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand_imgs {
  width: 80%;
}
/* .product_categories_div_head:hover.product_categories_div_body {
  gap: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
} */

.products_display_body {
  background: #fff;
  padding: 0em 0em; /* height: 100vh; */
  border-radius: 10px;
  box-shadow: 0px 0px 7px #e4e4e4;
  margin-top: 2em;
  overflow: hidden;
  padding-bottom: 2em;
}
.no_pad {
  padding: 0;
}

.products_display_body_heading {
  padding: 0.5em 1em;
  background: #eaeaea;
  margin-bottom: 0px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading_color_2 {
  background: #41ba71b5;
  color: #ffffff;
}

.se_all_btnn {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;
  font-size: 14px;
}
.se_all_color2 {
  color: #fff;
}
.products_display_body_conts {
  padding: 0em 0.5em;
  padding-top: 1em;
  display: flex;
  gap: 10px;
  overflow: scroll;
}
.products_display_body_conts2 {
  padding: 0em 1em;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: auto auto auto auto; */
  grid-gap: 15px;
  gap: 0px;
  width: 65%;
  margin-left: auto;
}

.products_display_body_conts_banner {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
}

.products_display_body_conts_banner_cont {
  width: 45%;
}

.no_marg {
  margin: 0 !important;
  width: 215px !important;
}
.inventory_cards {
  margin: 0 !important;
  width: 185px !important;
  height: 200px !important;
}
.prod_banner_advert_div {
  margin-top: 2em;
  /* margin-bottom: 2em; */
  border-radius: 6px;
  overflow: hidden;
}
.prod_banner_ad {
  width: 100%;
}
.asset_cat_image_display {
  width: 100%;
}
.fixed_pop {
  width: 81px;
  position: fixed;
  bottom: 0;
  left: 15%;
}
.fixed_pop_img {
  width: 100%;
}

@media screen and (max-width: 1780px) {
  .products_display_body_conts2 {
    width: 56%;
  }
}
@media screen and (max-width: 1475px) {
  .inventory_cards {
    width: 190px !important;
    height: 200px !important;
  }
}
@media screen and (max-width: 1400px) {
  .inventory_cards {
    width: 180px !important;
    height: 180px !important;
  }
}
@media screen and (max-width: 1325px) {
  .inventory_cards {
    width: 215px !important;
    height: 230px !important;
  }
}
@media screen and (max-width: 1300px) {
  .products_display_body_conts2 {
    width: 55%;
  }
  /* .inventory_cards {
    width: 188px !important;
  } */
}

@media (max-width: 1245px) {
  .inventory_cards {
    width: 204px !important;
    height: 208px !important;
  }
}
@media (max-width: 1187px) {
  .inventory_cards {
    width: 191px !important;
    height: 200px !important;
  }
}

@media screen and (max-width: 1200px) {
  .products_display_body_conts2 {
    width: 53%;
  }
}
@media screen and (max-width: 1168px) {
  .cat_body_toggle {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 184px;
  }
  .cat_body_toggle1 {
    font-size: 10px;
    padding: 0.2em 1em;
    cursor: pointer;
    transition: 0.3s linear;
  }

  .products_display_body_conts {
    padding: 1em 0.5em;
  }
  /* .no_marg {
    margin: 0 !important;
    width: 200px !important;
  } */
  .storeTiles_storeTileContainer__HoGEa {
    background-position: 48%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.75rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14.25rem;
    height: 100%;
    padding: 0.25rem;
    width: 100%;
    grid-column: span 2 / span 2;
    background-size: 80%;
    background-position: top;
    background-origin: content-box;
  }
  .out_right_install_tag {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .out_right_install_tag_btn {
    font-size: 10px;
    background: #d4f8e2;
    color: #55a675;
    font-weight: 700;
    padding: 1px 5px;
    border: none;
    border-radius: 24px;
    border: solid 1px #55a675;
  }
  /* .carous_list {
    height: 204px !important;
  } */
  .add_width {
    height: 100% !important;
    margin: 0 !important;
  }
}
@media (max-width: 1118px) {
  .inventory_cards {
    width: 240px !important;
    height: 244px !important;
  }
}
@media (max-width: 1043px) {
  .inventory_cards {
    width: 224px !important;
    height: 230px !important;
  }
}
@media screen and (max-width: 991px) {
  .products_display_body_conts2 {
    width: 100%;
    padding: 1em;
    overflow: scroll;
  }
  .inventory_cards {
    width: 203px !important;
    height: 203px !important;
  }
  .products_hero_img {
    border-radius: 5px;
    box-shadow: 0px 0px 5px #bfdccb;
  }
  .products_display_body {
    box-shadow: 0px 0px 5px #e4e4e4;
  }
  .show_prods_on_mobile {
    display: flex;
    width: 100%;
    gap: 10px;
    overflow: scroll;
  }
  .market_carous {
    display: none;
  }
  .products_display_body_conts_banner_cont {
    display: none;
  }
  .brands_area {
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
  }
  .fixed_pop {
    width: 81px;
    position: fixed;
    bottom: 42px;
    left: 0%;
  }
  .brand_cont1 {
    width: 100%;
    /* height: 29px; */
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #d3e7db;
    padding: 0.5em 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brand_imgs {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .inventory_cards {
    width: 195px !important;
    height: 193px !important;
  }
}
@media screen and (max-width: 926px) {
  .inventory_cards {
    width: 185px !important;
    height: 180px !important;
  }
}
@media screen and (max-width: 887px) {
  .inventory_cards {
    width: 240px !important;
    height: 247px !important;
  }
}
@media screen and (max-width: 845px) {
  .inventory_cards {
    width: 228px !important;
    height: 221px !important;
  }
}
@media screen and (max-width: 810px) {
  .inventory_cards {
    width: 216px !important;
    height: 220px !important;
  }
}
@media screen and (max-width: 774px) {
  .inventory_cards {
    width: 207px !important;
    height: 209px !important;
  }
}
@media screen and (max-width: 748px) {
  .inventory_cards {
    width: 198px !important;
    height: 204px !important;
  }
}
@media screen and (max-width: 720px) {
  .inventory_cards {
    width: 190px !important;
    height: 204px !important;
  }
}
@media screen and (max-width: 700px) {
  .inventory_cards {
    width: 285px !important;
    height: 294px !important;
  }
}
@media screen and (max-width: 668px) {
  .inventory_cards {
    width: 269px !important;
    height: 282px !important;
  }
}
@media screen and (max-width: 642px) {
  .inventory_cards {
    width: 254px !important;
    height: 268px !important;
  }
}
@media screen and (max-width: 610px) {
  .inventory_cards {
    width: 237px !important;
    height: 235px !important;
  }
}
@media screen and (max-width: 579px) {
  .inventory_cards {
    width: 225px !important;
    height: 224px !important;
  }
}
@media screen and (max-width: 554px) {
  .inventory_cards {
    width: 211px !important;
    height: 210px !important;
  }
}
@media screen and (max-width: 550px) {
  .no_marg {
    width: 120px !important;
    height: 140px !important;
  }
  .inventory_cards {
    width: 159px !important;
    height: 160px !important;
  }
  .products_hero_img {
    border-radius: 5px;
    box-shadow: 0px 0px 5px #bfdccb;
  }
  .no_pad .container {
    padding: 0.5em 0.2em;
  }

  .prod_banner_advert_div {
    margin-top: 1em;
  }
  .products_display_body {
    padding-bottom: 0.5em;
    margin-top: 1em;
    border-radius: 5px;
  }
  .products_display_body_conts {
    padding: 0.5em 0.5em;
    display: flex;
    gap: 5px;
    overflow: scroll;
  }
  .w-1 {
    height: 164px;
    object-fit: cover;
  }
  .products_display_body_conts2 {
    padding: 0.5em 0.5em;
    display: flex;
    gap: 5px;
    width: 100%;
    overflow: scroll;
  }
  .products_display_body_heading {
    margin-bottom: 0px;
    padding: 0.5em 0.5em;
    font-size: 16px;
  }
  .se_all_btnn {
    font-size: 12px;
  }
  .products_display_body_conts_banner_cont {
    display: none;
  }

  /* .storeTiles_storeTileBottomContainer__2sWHh {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3.2rem;
    padding: 0.15rem 0.25rem;
    position: relative;
    box-shadow: 0px 0px 3px grey;
    bottom: -1px;
    flex-direction: column;
    align-items: flex-start;
} */
}

@media screen and (max-width: 541px) {
  .inventory_cards {
    width: 150px !important;
    height: 149px !important;
  }
}
@media screen and (max-width: 512px) {
  .inventory_cards {
    width: 143px !important;
    height: 143px !important;
  }
}
@media screen and (max-width: 492px) {
  .inventory_cards {
    width: 136px !important;
    height: 135px !important;
  }
}
@media screen and (max-width: 470px) {
  .inventory_cards {
    width: 130px !important;
    height: 128px !important;
  }
}
@media screen and (max-width: 451px) {
  .inventory_cards {
    width: 123px !important;
    height: 124px !important;
  }
  .carous_list {
    border-radius: 6px;
  }
}
@media screen and (max-width: 432px) {
  .inventory_cards {
    width: 185px !important;
    height: 188px !important;
  }
}
@media screen and (max-width: 422px) {
  .inventory_cards {
    width: 195px !important;
    height: 198px !important;
  }
}
@media screen and (max-width: 417px) {
  .inventory_cards {
    width: 192px !important;
    height: 194px !important;
  }
}
@media screen and (max-width: 400px) {
  .inventory_cards {
    width: 177px !important;
    height: 180px !important;
  }
}
@media screen and (max-width: 380px) {
  .inventory_cards {
    width: 165px !important;
    height: 163px !important;
  }
}
@media screen and (max-width: 355px) {
  .inventory_cards {
    width: 150px !important;
    height: 150px !important;
  }
}
@media screen and (max-width: 320px) {
  .inventory_cards {
    width: 132px !important;
    height: 132px !important;
  }
}
