.dashboard_refferal_area {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.dashboard_user_refferals_cont {
  padding: 1em;
  border: solid 1px #e7e7e7;
  border-radius: 6px;
  box-shadow: 0px 10px 15px #e7e7e7;
  background: #fff;
}
.user_refferals_table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user_refferals_table_body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user_refferals_table_body_titles {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  color: #41ba71;
  padding: 0em 1em;
}
.user_refferals_table_body_cont1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background: #f6f6f6;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}
.dashboard_user_refferals_count_mini_conts {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.dashboard_user_refferals_count_mini_cont1 {
  width: 100%;
  border: solid 1px #e7e7e7;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 0px 10px 15px #e7e7e7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background: #fff;
}
.total_ref_figure_cont {
  border: solid 15px #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700;
}
.referral_default_value {
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 6px;
  border: solid 1px #d6d6d6;
}

.ref_btn {
  width: 100%;
}
.referral_txt {
  font-size: 16px;
  text-align: center;
}
.ref_btn .tooltiptext {
  display: none;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 205%;
  left: 50%;
  margin-left: -75px;
  opacity: 1;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.ref_btn {
  padding: 1em 0em;
  background: #41ba71;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 20px #73a988;
}
.ref_btn {
  position: relative;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.ref_banner {
  display: none;
  width: 100%;
}
.ref_banner_lg {
  width: 100%;
}
.refer_banner {
  width: 100%;
}
.circle_active {
  font-size: 7px !important;
}
.ref_loading_icon {
  padding: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.loading_txt {
  margin: 0;
  font-size: 14px;
}

.reffer_activity {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.reffer_email {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .dashboard_user_refferals_count_mini_conts {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    grid-gap: 10px;
    gap: 10px;
    flex-direction: column;
  }
  .dashboard_refferal_area {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    gap: 10px;
  }
  .dashboard_user_refferals_count_mini_cont1 {
    padding: 1em;
    gap: 15px;
    /* justify-content: space-between; */
  }
  .user_refferals_table_body_titles {
    display: none;
  }
  .user_refferals_table_body_cont1 {
    font-size: 12px;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    overflow: hidden;
  }
  .referral_txt {
    font-size: 14px;
    text-align: center;
  }
  .reffer_activity {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .reffer_email {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .reffer_activity::before {
    content: "Activity";
    color: #828282;
    display: flex;
  }
  .reffer_email::before {
    content: "Email";
    color: #828282;
    display: flex;
  }
}
